<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="KimTravel.DAL.Properties.Settings.KimTravelConnectionString"
        connectionString="Data Source=DESKTOP-RA24QEC\SQLEXPRESS;Initial Catalog=KimTravel;User ID=sa;Password=Hoang911"
        providerName="System.Data.SqlClient" />
    <add name="KimTravel.DAL.Properties.Settings.KimTravelDesktopConnectionString"
        connectionString="Data Source=125.212.221.110;Initial Catalog=KimTravelDesktop;User ID=hoang1995;Password=Hoang911"
        providerName="System.Data.SqlClient" />
    <add name="KimTravel.DAL.Properties.Settings.KimTravelDesktopConnectionString1"
        connectionString="Data Source=125.212.221.110;Initial Catalog=KimTravelDesktop;Persist Security Info=True;User ID=hoang1995;Password=Hoang911"
        providerName="System.Data.SqlClient" />
    <add name="KimTravel.DAL.Properties.Settings.LocalConnectionString"
           connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=KimTravelDesktop;User ID=sa;Password=Hoang911"
           providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
